* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, figure, p, div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
  margin: 0;
}

table {
  border-collapse: collapse;
}

article, aside, footer, header, main, nav, section {
  display: block;
}

:after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'kiaM';
  src: url("../font/KIA_Fonts/KIA_Medium.ttf") format("truetype");
}

@media (min-width: 320px) and (max-width: 1024px) {
  .head {
    width: 100%;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #fff;
    z-index: 20;
    position: absolute;
    top: 0;
  }
  .head .trigger_menu {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .head .trigger_menu span {
    position: absolute;
    left: 50%;
    top: 50%;
    border-top: 2px solid #fff;
    width: 100%;
  }
  .head .trigger_menu span:nth-of-type(1) {
    -webkit-transform: translateY(300%);
            transform: translateY(300%);
  }
  .head .trigger_menu span:nth-of-type(3) {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
  }
  .head .logo a {
    font-family: 'kiaM';
  }
  .head .logo a span {
    color: #fff;
  }
  .head .search {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  .head .search a img {
    width: 50%;
    height: 50%;
  }
  .main .visual-img {
    width: 100%;
    position: relative;
    margin-bottom: 40%;
  }
  .main .visual-img img {
    width: 100%;
    height: 100%;
  }
  .main .visual-img .visual {
    position: absolute;
    left: 25%;
    top: 17%;
    text-align: center;
  }
  .main .visual-img .visual .visual-text h3 {
    color: #fff;
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 30px;
  }
  .main .visual-img .visual .visual-text a {
    background: #fff;
    color: #05141f;
    padding: 5px 30px;
    font-size: 12px;
  }
  .main .visual-img .visual .visual-text a i::before {
    content: url("../img/main/icon/20220104_150631.png");
    position: absolute;
    right: 20px;
    width: 1px;
    height: 7px;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  .main .visual-img .indi {
    position: absolute;
    top: 85%;
    left: 20%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .visual-img .indi span {
    margin-right: 15px;
  }
  .main .visual-img .indi span::before {
    content: '';
    border: 1px solid #cdd0d2;
    width: 9px;
    height: 9px;
    background-color: #fff;
    border-radius: 100%;
    display: block;
  }
  .main .visual-img .indi span:nth-of-type(1)::before {
    content: '';
    width: 37px;
    height: 7px;
    border-radius: 5px;
    background-color: #000;
  }
  .main .visual-img .purchase {
    margin-bottom: 16%;
  }
  .main .visual-img .purchase ul {
    position: absolute;
    bottom: 0;
    left: 5%;
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #fff;
    width: 90%;
  }
  .main .visual-img .purchase ul li {
    width: 50%;
    border: 1px solid #cdd0d2;
    padding: 14px 5px;
  }
  .main .visual-img .purchase ul li a {
    font-size: 12px;
  }
  .main .visual-img .purchase ul li a img {
    width: 20px;
    height: 20px;
  }
  .main .visual-img .purchase ul .wide {
    width: 100%;
    border-bottom: 2px solid #9ea0a2;
    padding: 14px 5px;
  }
  .main .visual-img .purchase p {
    width: 90%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 5%;
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
    border-bottom: 1px solid #cdd0d2;
  }
  .main .visual-img .purchase p a {
    font-size: 13px;
  }
  .main .visual-img .purchase p a img {
    width: 20px;
    height: 20px;
  }
  .main .sec2_slide {
    text-align: center;
  }
  .main .sec2_slide .bestkia h2 {
    font-size: 30px;
  }
  .main .sec2_slide .bestkia .bestkia_list .list a img {
    width: 50%;
  }
  .main .sec2_slide .bestkia .bestkia_list .list a p {
    margin-top: 25px;
    font-size: 18px;
  }
  .main .sec2_slide .bestkia .bestkia_list .info {
    font-size: 12px;
    color: rgba(5, 20, 31, 0.6);
  }
  .main .sec2_slide .bestkia .bestkia_list .info strong {
    color: #05141f;
    font-weight: bold;
    position: relative;
    margin-right: 5px;
  }
  .main .sec2_slide .bestkia .bestkia_list .info strong::after {
    content: '';
    position: relative;
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 2px 0 5px;
    background: rgba(5, 20, 31, 0.2);
  }
  .main .sec2_slide .bestkia .bestkia_list .benefit .point {
    font-size: 12px;
    color: rgba(5, 20, 31, 0.6);
  }
  .main .sec2_slide .bestkia .bestkia_list .benefit .point b {
    display: inline-block;
    position: relative;
    margin-right: 3px;
    color: #000;
  }
  .main .sec2_slide .bestkia .bestkia_list .benefit .point b::after {
    content: '';
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 3px 0 5px;
    border: transparent solid;
    border-width: 4px 0 4px 5px;
    border-left-color: rgba(5, 20, 31, 0.4);
  }
  .main .sec2_slide .bestkia .bestkia_list .benefit .point b::before {
    content: url("../img/main/icon/ic_benefit.jpg");
    margin-right: 5px;
    width: 16px;
    height: 11px;
    background-size: 100% auto;
    vertical-align: -1px;
  }
  .main .sec2_slide .bestkia .bestkia_list .benefit .pay {
    font-size: 12px;
    color: rgba(5, 20, 31, 0.6);
  }
  .main .sec2_slide .bestkia .bestkia_list .benefit .pay::before {
    content: url("../img/main/icon/main_icon3.png");
    width: 14px;
    height: 13px;
    margin: 0 5px 0;
    background-size: 80% auto;
    vertical-align: -3px;
  }
  .main .sec2_slide .sec2_indi {
    border: 0;
    outline: 0;
    margin-top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .main .sec2_slide .sec2_indi span {
    margin-right: 15px;
  }
  .main .sec2_slide .sec2_indi span::before {
    content: '';
    border: 1px solid #cdd0d2;
    width: 9px;
    height: 9px;
    background-color: #fff;
    border-radius: 10px;
    display: block;
  }
  .main .sec2_slide .sec2_indi span:nth-of-type(1)::before {
    content: '';
    width: 37px;
    height: 7px;
    border-radius: 5px;
    background-color: #000;
  }
  .main .eventkia {
    padding: 0 15px;
    width: 100%;
    margin-top: 20%;
    position: relative;
  }
  .main .eventkia h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .main .eventkia a .event_slide img {
    width: 100%;
  }
  .main .eventkia a .event_txt h3 {
    padding: 20px 0 0;
    font-size: 16px;
  }
  .main .eventkia a .event_txt .date {
    padding: 7px 0 0;
    font-size: 11px;
    color: rgba(5, 20, 31, 0.6);
  }
  .main .eventkia .event_indi {
    position: absolute;
    right: 5%;
    bottom: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .eventkia .event_indi span {
    margin-right: 15px;
  }
  .main .eventkia .event_indi span::before {
    content: '';
    border: 1px solid #cdd0d2;
    width: 9px;
    height: 9px;
    background-color: #fff;
    border-radius: 10px;
    display: block;
  }
  .main .eventkia .event_indi span:nth-of-type(1)::before {
    content: '';
    width: 37px;
    height: 7px;
    border-radius: 5px;
    background-color: #000;
  }
  .main .kiaesg {
    text-align: center;
    width: 100%;
    margin-top: 10%;
  }
  .main .kiaesg h2 {
    font-size: 24px;
    margin-bottom: 28px;
  }
  .main .kiaesg .esgimg {
    position: relative;
  }
  .main .kiaesg .esgimg img {
    width: 100%;
  }
  .main .kiaesg .esgimg p {
    position: absolute;
    left: 0;
    top: 15%;
    padding: 0 5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #fff;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
  }
  .main .kiaesg .esgimg .kiaesg_indi {
    position: absolute;
    right: 3%;
    bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .kiaesg .esgimg .kiaesg_indi span {
    margin-right: 15px;
  }
  .main .kiaesg .esgimg .kiaesg_indi span::before {
    content: '';
    border: 1px solid #cdd0d2;
    width: 9px;
    height: 9px;
    background-color: #fff;
    border-radius: 10px;
    display: block;
  }
  .main .kiaesg .esgimg .kiaesg_indi span:nth-of-type(1)::before {
    content: '';
    width: 37px;
    height: 7px;
    border-radius: 5px;
    background-color: #000;
  }
  .main .notice {
    padding: 0 15px;
    margin: 15% 0;
    width: 100%;
  }
  .main .notice h2 {
    font-size: 20px;
    margin-bottom: 4%;
  }
  .main .notice .n_list {
    border-right: 1px solid rgba(5, 20, 31, 0.2);
    border-bottom: 1px solid rgba(5, 20, 31, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .notice .n_list li {
    /* display: flex; justify-content: flex-start; align-items: center; */
    width: 100%;
    border-top: 1px solid rgba(5, 20, 31, 0.2);
    border-left: 1px solid rgba(5, 20, 31, 0.2);
  }
  .main .notice .n_list li a {
    width: 100%;
    display: table;
    padding: 20px 15px;
  }
  .main .notice .n_list li a .n_title {
    display: table-cell;
    padding-right: 20px;
    font-size: 13px;
    vertical-align: middle;
  }
  .main .notice .n_list li a .n_date {
    display: table-cell;
    padding: 0;
    font-size: 12px;
    vertical-align: middle;
  }
}

.foot {
  background: #05141f;
  padding: 50px 0 45px;
}

.foot .footlogo {
  padding: 0 31px;
  margin-bottom: 60px;
}

.foot .footlogo h2 {
  color: #fff;
  line-height: 18px;
  font-size: 20px;
}

.foot .inner {
  padding: 0 31px;
}

.foot .inner .footermenu {
  width: 100%;
  vertical-align: top;
}

.foot .inner .footermenu li {
  margin-bottom: 25px;
}

.foot .inner .footermenu li a {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.foot .inner .footerCar {
  width: 100%;
  margin-top: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.foot .inner .footerCar .box {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.foot .inner .footerCar .box a {
  color: #fff;
  position: relative;
}

.foot .inner .footerCar .box a p {
  font-size: 16px;
  padding: 21px 0 20px;
}

.foot .inner .footerCar .box a::after {
  content: '';
}

.foot .snsicon {
  padding: 0 31px;
}

.foot .snsicon .iconbox {
  margin-top: 30px;
}

.foot .snsicon .iconbox a {
  width: 80px;
  margin-right: 15px;
}

.foot .snsicon .iconbox a img {
  margin-bottom: 5px;
}

.foot .infobox {
  padding: 0 31px;
}

.foot .infobox .info_policy {
  margin: 28px 0 25px;
}

.foot .infobox .info_policy span {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.foot .infobox .info_policy span a {
  color: rgba(255, 255, 255, 0.6);
}

.foot .infobox .info_policy span a strong {
  color: #fff;
  font-size: 13px;
}

.foot .infobox .info_policy span a p {
  font-size: 13px;
}

.foot .infobox .info_policy i {
  height: 10px;
  display: block;
}

.foot .info_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 31px;
}

.foot .info_a .info_nation {
  margin-right: 15px;
}

.foot .info_a .info_nation a {
  display: block;
  position: relative;
}

.foot .info_a .info_nation a span {
  font-size: 14px;
  color: #fff;
}

.foot .info_a .info_nation a::before {
  content: '';
  width: 23px;
  height: 15px;
  padding-left: 10px;
  background: url(../img/footer/icon/img_kor.jpg) no-repeat;
  background-size: 23px auto;
  vertical-align: middle;
  display: inline-block;
}

.foot .info_a .info_nbox {
  display: inline-block;
  vertical-align: middle;
}

.foot .info_a .info_nbox a {
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 159px;
  padding: 3px 10px 2px;
  font-size: 13px;
  display: block;
}

.foot .corp {
  margin-top: 50px;
  padding: 0 31px;
}

.foot .corp .con_navi a {
  color: rgba(255, 255, 255, 0.6);
}

.foot .corp .con_navi a span {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.foot .corp .con_navi a span::after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  border: 9px solid transparent;
  border-bottom-color: rgba(255, 255, 255, 0.6);
  border-width: 0 6px 7px 6px;
}

.foot .corp .con_navi a span::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 6px;
  background: rgba(255, 255, 255, 0.6);
  width: 12px;
  height: 5px;
}

.foot .corp .cor {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
/*# sourceMappingURL=index.css.map */