* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, figure, p, div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
  margin: 0;
}

table {
  border-collapse: collapse;
}

article, aside, footer, header, main, nav, section {
  display: block;
}

:after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'kiaM';
  src: url("../font/KIA_Fonts/KIA_Medium.ttf") format("truetype");
}

@media (min-width: 320px) and (max-width: 1024px) {
  .slidename {
    padding: 0 22px;
    font-size: 16px;
    color: #0a1622;
    text-align: left;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 23px;
  }
  .slidename .big {
    font-size: 18px;
    margin: 0 24px 0 6.5px;
    z-index: 10;
  }
  .slidename .bar {
    display: block;
    position: relative;
    top: calc(50% - 1px);
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #0a1622;
  }
  .head {
    width: 100%;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 20;
    border-bottom: 1px solid #cdd0d2;
  }
  .head .trigger_menu {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .head .trigger_menu span {
    position: absolute;
    left: 50%;
    top: 50%;
    border-top: 2px solid #000;
    width: 100%;
  }
  .head .trigger_menu span:nth-of-type(1) {
    -webkit-transform: translateY(300%);
            transform: translateY(300%);
  }
  .head .trigger_menu span:nth-of-type(3) {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
  }
  .head .logo a {
    font-family: 'kiaM';
  }
  .head .logo a span {
    color: #000;
  }
  .head .search {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  .head .search a img {
    width: 100%;
    height: 60%;
  }
  .header_wrap {
    z-index: 9999;
    position: absolute;
    width: 100%;
    background: #fff;
    display: none;
  }
  .header_wrap .b_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
  }
  .header_wrap .b_head p {
    margin: 20px 0;
  }
  .header_wrap .b_head .h_close {
    display: block;
  }
  .header_wrap .gnb_area {
    border-top: 2px solid #cdd0d2;
  }
  .header_wrap .gnb_area .gnb_nav {
    width: 100%;
  }
  .header_wrap .gnb_area .gnb_nav li {
    height: 46px;
    border-bottom: 1px solid #cdd0d2;
  }
  .header_wrap .gnb_area .gnb_nav li a {
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 17px 17px 0 17px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  .header_wrap .gnb_area .member {
    width: 100%;
    display: inline-block;
    position: relative;
  }
  .header_wrap .gnb_area .member li {
    width: 50%;
    height: 40px;
    float: left;
    background: #f7f8f8;
    border-bottom: 1px solid #c7cacd;
  }
  .header_wrap .gnb_area .member li a {
    padding: 14px 30px 11px 35px;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #05141f;
    font-weight: bold;
  }
  .header_wrap .gnb_area .member li a::before {
    content: '';
    display: block;
    position: absolute;
    top: 17px;
    left: 23px;
    width: 5px;
    height: 5px;
    border: 1px solid #05141f;
    border-left-width: 0;
    border-top-width: 0;
    -webkit-transform: rotate(-45deg) translateY(4px);
            transform: rotate(-45deg) translateY(4px);
  }
  .header_wrap .gnb_area .member::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    width: 1px;
    height: 100%;
    background: #c7cacd;
  }
  .header_wrap .m_gnb_dimmed {
    height: 4574px;
    width: 100%;
    display: block;
    background: #05141f;
    position: absolute;
    top: 550px;
    left: 0;
    opacity: .8;
    z-index: 1;
  }
  .talk_link {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 9999;
    -webkit-animation: talk_linkAin 2s .1s infinite alternate ease-in-out;
            animation: talk_linkAin 2s .1s infinite alternate ease-in-out;
  }
  .talk_link a {
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/footer/icon/btn_main_kakao.png) 0 0 no-repeat;
    background-size: 50px 50px;
    border-radius: 50px;
  }
  @-webkit-keyframes talk_linkAin {
    50% {
      -webkit-transform: translateX(20%);
              transform: translateX(20%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @keyframes talk_linkAin {
    50% {
      -webkit-transform: translateX(20%);
              transform: translateX(20%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  .go_top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 9999;
    display: none;
  }
  .go_top a {
    display: block;
    width: 35px;
    height: 50px;
    background: url(../img/footer/icon/btn_top_m.png) 0 0 no-repeat;
    background-size: 35px 50px;
  }
  .snb_wrap {
    height: 56px;
  }
  .snb_wrap .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #000;
    color: #fff;
    height: 100%;
  }
  .snb_wrap .inner .snb_tit {
    width: 50%;
    text-align: center;
    position: relative;
  }
  .snb_wrap .inner .snb_tit a {
    display: table;
    text-align: center;
    padding: 0 10px 0 25px;
    font-size: 15px;
    line-height: 1.2;
    text-align: left;
    height: 100%;
    width: 100%;
  }
  .snb_wrap .inner .snb_tit a span {
    vertical-align: middle;
    display: table-cell;
  }
  .snb_wrap .inner .snb_tit::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    display: block;
    background: rgba(255, 255, 255, 0.2);
    z-index: 10;
  }
  .snb_wrap .inner .snb_area {
    width: 50%;
    font-size: 13px;
  }
  .snb_wrap .inner .snb_area a {
    display: table;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    line-height: 1.3;
    font-weight: bold;
  }
  .snb_wrap .inner .snb_area a span {
    vertical-align: middle;
    display: table-cell;
  }
  .content {
    background: #f6f1ed;
  }
  .content .mainbox {
    height: 118.7037037037vw;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .content .mainbox .ms_tab {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: block;
  }
  .content .namebox {
    height: 74px;
    width: 100%;
    background: #fff;
  }
  .content .namebox .c_name {
    color: #000;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  .content .moviebox {
    padding: 28px 0 21px;
  }
  .content .moviebox .box1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 18.5px;
  }
  .content .moviebox .box1 .bgwrap {
    width: 158px;
    height: 173px;
    position: relative;
  }
  .content .moviebox .box1 .bgwrap img {
    width: 100%;
    height: 100%;
  }
  .content .moviebox .box1 .bgwrap .btnbg {
    z-index: 10;
    opacity: 0.5;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .content .moviebox .box1 .bgwrap .btnbg .moviebtn {
    position: absolute;
    left: calc(50% - 16px);
    top: calc(50% - 16px);
    width: 33px;
    height: 33px;
  }
  .content .moviebox .box1 .bgwrap .btnbg .moviebtn img {
    width: 100%;
    height: 100%;
  }
  .content .moviebox .box1 .bgwrap p {
    z-index: 12;
    position: absolute;
    left: 30%;
    bottom: 10%;
    font-size: 11.5px;
    color: #fff;
  }
  .content .moviebox .box2 {
    padding: 0 18.5px;
  }
  .content .moviebox .box2 .bgwrap2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 320px;
    height: 80px;
    margin-top: 2%;
    position: relative;
  }
  .content .moviebox .box2 .bgwrap2 img {
    width: 100%;
    height: 100%;
  }
  .content .moviebox .box2 .bgwrap2 .btnbg2 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    opacity: 0.3;
    background-color: #000;
    width: 100%;
    height: 100%;
  }
  .content .moviebox .box2 .bgwrap2 .btnbg2 .moviebtn {
    position: absolute;
    left: 20%;
    top: calc(50% - 16px);
    width: 33px;
    height: 33px;
  }
  .content .moviebox .box2 .bgwrap2 .btnbg2 .moviebtn img {
    width: 100%;
    height: 100%;
  }
  .content .moviebox .box2 p {
    z-index: 12;
    color: #fff;
    white-space: pre-line;
    position: absolute;
    right: 10%;
    bottom: 30%;
    font-size: 11.5px;
  }
  .content .moviebox .box2 p span {
    position: absolute;
    right: 0%;
    margin-top: 1%;
  }
  .content .slidebox {
    padding: 28px 0 21px;
  }
  .content .slidebox .swiper .swiper-wrapper .swiper-slide {
    width: 360px;
    position: relative;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .content .slidebox .swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
  }
  .content .slidebox1 {
    padding: 28px 0 21px;
  }
  .content .slidebox1 .swiper .swiper-wrapper .swiper-slide {
    width: 360px;
    position: relative;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .content .slidebox1 .swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
  }
  .iframe_box, .iframe_box2, .iframe_box3, .iframe_box4 {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 1;
    display: none;
  }
  .iframe_box .ipop .bg, .iframe_box2 .ipop .bg, .iframe_box3 .ipop .bg, .iframe_box4 .ipop .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  .iframe_box .ipop .i_closer, .iframe_box2 .ipop .i_closer, .iframe_box3 .ipop .i_closer, .iframe_box4 .ipop .i_closer {
    position: fixed;
    top: 33%;
    left: 87%;
  }
  .iframe_box .ipop iframe, .iframe_box2 .ipop iframe, .iframe_box3 .ipop iframe, .iframe_box4 .ipop iframe {
    position: fixed;
    left: 5%;
    top: 40%;
    width: 90%;
    height: 100%;
    height: auto;
  }
  .iframe_box.vopen {
    display: block;
  }
  .iframe_box2.vopen {
    display: block;
  }
  .iframe_box3.vopen {
    display: block;
  }
  .iframe_box4.vopen {
    display: block;
  }
}

.foot {
  background: #05141f;
  padding: 50px 0 45px;
}

.foot .footlogo {
  padding: 0 31px;
  margin-bottom: 60px;
}

.foot .footlogo h2 {
  color: #fff;
  line-height: 18px;
  font-size: 20px;
}

.foot .inner {
  padding: 0 31px;
}

.foot .inner .footermenu {
  width: 100%;
  vertical-align: top;
}

.foot .inner .footermenu li {
  margin-bottom: 25px;
}

.foot .inner .footermenu li a {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.foot .inner .footerCar {
  width: 100%;
  margin-top: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.foot .inner .footerCar .box {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.foot .inner .footerCar .box a {
  color: #fff;
  position: relative;
}

.foot .inner .footerCar .box a p {
  font-size: 16px;
  padding: 21px 0 20px;
}

.foot .inner .footerCar .box a::after {
  content: '';
}

.foot .snsicon {
  padding: 0 31px;
}

.foot .snsicon .iconbox {
  margin-top: 30px;
}

.foot .snsicon .iconbox a {
  width: 80px;
  margin-right: 15px;
}

.foot .snsicon .iconbox a img {
  margin-bottom: 5px;
}

.foot .infobox {
  padding: 0 31px;
}

.foot .infobox .info_policy {
  margin: 28px 0 25px;
}

.foot .infobox .info_policy span {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.foot .infobox .info_policy span a {
  color: rgba(255, 255, 255, 0.6);
}

.foot .infobox .info_policy span a strong {
  color: #fff;
  font-size: 13px;
}

.foot .infobox .info_policy span a p {
  font-size: 13px;
}

.foot .infobox .info_policy i {
  height: 10px;
  display: block;
}

.foot .info_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 31px;
}

.foot .info_a .info_nation {
  margin-right: 15px;
}

.foot .info_a .info_nation a {
  display: block;
  position: relative;
}

.foot .info_a .info_nation a span {
  font-size: 14px;
  color: #fff;
}

.foot .info_a .info_nation a::before {
  content: '';
  width: 23px;
  height: 15px;
  padding-left: 10px;
  background: url(../img/footer/icon/img_kor.jpg) no-repeat;
  background-size: 23px auto;
  vertical-align: middle;
  display: inline-block;
}

.foot .info_a .info_nbox {
  display: inline-block;
  vertical-align: middle;
}

.foot .info_a .info_nbox a {
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 159px;
  padding: 3px 10px 2px;
  font-size: 13px;
  display: block;
}

.foot .corp {
  margin-top: 50px;
  padding: 0 31px;
}

.foot .corp .con_navi a {
  color: rgba(255, 255, 255, 0.6);
}

.foot .corp .con_navi a span {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.foot .corp .con_navi a span::after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  border: 9px solid transparent;
  border-bottom-color: rgba(255, 255, 255, 0.6);
  border-width: 0 6px 7px 6px;
}

.foot .corp .con_navi a span::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 6px;
  background: rgba(255, 255, 255, 0.6);
  width: 12px;
  height: 5px;
}

.foot .corp .cor {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}
/*# sourceMappingURL=sub_niro.css.map */